.wrapper {
  margin: 100px auto;

  width: 350px;
  height: 250px;

  border: 3px solid chocolate;
  border-radius: 5px;
}

.form__top {
  margin: 15px auto;
  width: 320px;
  height: 120px;

  color: #484d53;
  font-size: 55px;
  font-weight: 700;
  line-height: 120px;

  border-radius: 5px;
  background-color: chocolate;
}

.count {
  vertical-align: middle;
}

.form__bottom {
  display: flex;
  margin: 15px auto;

  width: 316px;
  height: 80px;


  border: 3px solid chocolate;
  border-radius: 5px;

}

.inc {
  width: 100px;
  height: 40px;

  margin: auto ;
  cursor: pointer;

  font-size: 24px;
  font-weight: 700;
  color: #484d53;

  background-color: chocolate;
  border-radius: 5px;
  border: none;
}

.reset {
  width: 100px;
  height: 40px;

  margin: auto;
  cursor: pointer;

  font-size: 24px;
  font-weight: 700;
  color: #484d53;

  background-color: chocolate;
  border-radius: 5px;
  border: none;
}