.wrapper__right {
    margin: 100px 0;

    width: 350px;
    height: 250px;

    border: 3px solid #aed21e;
    border-radius: 5px;
}

.form__top {
    margin: 15px auto;
    width: 320px;
    height: 120px;

    font-size: 55px;
    line-height: 120px;

    border-radius: 5px;
    background-color: #aed21e;
}

.count {
    color: #484d53;
    vertical-align: middle;
}

.active__start {
    color: #ffffff;
}

.active__end {
    color: lime;
}

.form__bottom {
    display: flex;
    margin: 15px auto;

    width: 316px;
    height: 80px;

    border: 3px solid #aed21e;
    border-radius: 5px;

}

.inc,
.reset,
.button__disable {
    width: 100px;
    height: 40px;

    margin: auto;
    cursor: pointer;

    font-size: 24px;
    color: #484d53;

    background-color: #aed21e;
    border-radius: 5px;
    border: none;

    user-select: none;
}

.button__disable {
    background-color: red;
}